[submodule "desmo-contracts"]
	path = desmo-contracts
	url = https://github.com/vaimee/desmo-contracts.git
[submodule "zion"]
	path = zion
	url = https://github.com/vaimee/zion.git
[submodule "desmo-dapp"]
	path = desmo-dapp
	url = https://github.com/vaimee/desmo-dapp.git
